.gitignore
.vscode
/.vs/Universal MQTT Data Historian/CopilotIndices/17.14.1368.60722
/.vs/Universal MQTT Data Historian/FileContentIndex
*.sqlite
/.gitattributes
/.vs/Universal MQTT Data Historian/v17
/.vs
/.gitignore
/.gitattributes
